extends layout

block content
  form(method="POST", action="/calculate-coverage")
    textarea(name="sequence")
    textarea(name="refseq")
    //input(type="textarea", name="sequence")
    //input(type="textarea", name="refseq")
    input(type="submit")